@font-face {
    font-family: 'kanit';
    src: url(/fonts/kanit/Kanit-ExtraLight.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'kanit-light';
    src: url(/fonts/kanit/Kanit-Light.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'kanit-semiBold';
    src: url(/fonts/kanit/Kanit-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'khula';
    src: url(/fonts/khula/Khula-ExtraBold.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'telex';
    src: url(/fonts/telex/Telex-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'modern';
    src: url(/fonts/modern/theModernChaos.ttf);
}
@font-face {
    font-family: 'grafitti';
    src: url(/fonts/grafiti/SterousDemoRegular.ttf);
}